<!doctype html>
	<html>
<head>
	<title>login form</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\bhanu\OneDrive\Desktop\weak 2 assigment\login.css">
</head>
<body>
	<div class="login-form">
	<h1>login-form</h1>
	<form action="#" method="post">
		<p>user name</p>
		<input type="tex" name="user" placeholder="user name">
		<p>password</p>
		<input type="text" name="password" placeholder="password">
		<button type="submit"><a href="C:\Users\bhanu\OneDrive\Desktop\weak 2 assigment\front & Bakc end.html">login</a>></button>
	</form>
</div>
<style>
body
{
	background-image:url(https://c0.wallpaperflare.com/preview/231/247/682/5be98e06c77ea.jpg);

	background-position:100px;
}
</style>
</body>
</html>
