<!-- <nav class="navabar navbar-expand-lg navbar-black bg-black">
    <div id="mainnav">
  
   
    <h3>Spring Boot - Angular Connecting Application</h3>
  </div>
  
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
    <div class="navbar-nav">
      
     
    <a class="nav-item nav-link active" href="listusers" >ListUsers</a>
      <a class="nav-item nav-link" href="addusers">AddUsers</a> -->
    
     
      <!-- <a href="login/login.component.html">Login</a>
    </div>
    </div>
  </nav>  -->
  <!doctype html>
	<html>
<head>
	<title>login form</title>
	<!-- <link rel="stylesheet" type="text/css" href="C:\Users\bhanu\OneDrive\Desktop\weak 2 assigment\login.css"> -->
</head>
<body>
	<div class="login-form">
	<h1>login-form</h1>
	<form action="#" method="post">
		<p>user name</p>
		<input type="text" name="user" placeholder="user name">
		<p>password</p>
		<input type="text" name="password" placeholder="password">

	<button routerLink="/addusers">Submit</button>
	</form>
</div>
<style>
body
{
	background-image:url(https://c0.wallpaperflare.com/preview/231/247/682/5be98e06c77ea.jpg);

	background-position:100px;
}
</style>
</body>
</html>